body{
    background: radial-gradient(circle, pink, white);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}


.row{
    display: flex;
    flex-direction: row;
}

.input{
    margin-bottom: 10px;
}

.button{
    display: flex;
    margin: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #F08080;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #C0C0C0;
}
