<body>
    <div class="directory">
      <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Top</a></li>
        <li><a href="#">Bottom</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </div>
</body>