<nav>
    <ul>
        <li><a class="<%= path === '/' ? 'active' : '' %>" href="/"><b>Shop</b></a></li>
        <li><a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"><b>Cart</b></a></li>
        <li><a class="<%= path === '/addNewProducts' ? 'active' : '' %>" href="/addNewProducts"><b>Add New Product</b></a></li>
    </ul>
</nav>


  